@import "src/app/shared/styles/variables/fonts";
@import "src/app/shared/styles/variables/mixins";

.app-header {
    @include flex($justify: space-between, $align: center);
    padding: 20px 30px;
    background-color: $color-white;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);
}

.right {
    @include flex($align: center);
    gap: 8px;
}