@import 'src/app/shared/styles/styles';
@import 'src/app/shared/styles/variables/mixins';

.registration-form {
  max-width: 260px;
  padding: 16px;
  margin-top: 36px;
  @include flex($direction: column, $justify: space-between);
}
.form__action {
  @include flex($justify: center);
}